.bi {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

/*
 * Sidebar
 */
@media (min-width: 768px) {
  .sidebar .offcanvas-lg {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
  }
  .navbar-search {
    display: none;
  }
}

@media only screen and (max-height: 200px) {
  .navbar-search {
    display: none;
  }
}

.sidebar {
  background-color: var(--rich-black) !important;
  border: none !important;
}


.sidebar .nav-link {
  background-color: var(--rich-black) !important;

  font-size: .875rem;
  font-weight: 500;
  color: var(--jade);
}

.sidebar .nav-link.active {
  color: var(--electric-blue);
}

.sidebar-heading {
  font-size: .75rem;
}


/*
 * Navbar
 */

:root {
  --bs-body-font-family: K2DRegular;
}

.navbar {
  background-color: var(--rich-black) !important;
}



.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: var(--selective-yellow) !important;
  font-family: K2DExtraBold;
}

.navbar-brand-second {
  color: var(--jade) !important;
}

.body {
  font-family: K2DRegular !important;
}


.navbar .form-control {
  padding: .75rem 1rem;
}
