
/* Coolors Exported Palette - https://coolors.co/000c00-061821-214544-557b7b-0ca871-affb59-7cfaff-ffb300-ff3300 */

:root {
    --rich-black: #061821ff;
    --dark-slate-gray: #214544ff;
    --myrtle-green: #557b7bff;
    --jade: #0ca871ff;
    --green-yellow: #affb59ff;
    --electric-blue: #7cfaffff;
    --selective-yellow: #ffb300ff;
    --coquelicot: #ff3300ff;

    --preinstalled-tools-ad-color: var(--selective-yellow);
    --selfsigned-ad-color: var(--jade);
    --k3d-ad-color: lightgray;
    --cray-no-connection-color: var(--coquelicot);

    --gradient-top: linear-gradient(0deg, #000c00ff, #061821ff, #214544ff, #557b7bff, #0ca871ff, #affb59ff, #7cfaffff, #ffb300ff, #ff3300ff);
    --gradient-right: linear-gradient(90deg, #000c00ff, #061821ff, #214544ff, #557b7bff, #0ca871ff, #affb59ff, #7cfaffff, #ffb300ff, #ff3300ff);
    --gradient-bottom: linear-gradient(180deg, #000c00ff, #061821ff, #214544ff, #557b7bff, #0ca871ff, #affb59ff, #7cfaffff, #ffb300ff, #ff3300ff);
    --gradient-left: linear-gradient(270deg, #000c00ff, #061821ff, #214544ff, #557b7bff, #0ca871ff, #affb59ff, #7cfaffff, #ffb300ff, #ff3300ff);
    --gradient-top-right: linear-gradient(45deg, #000c00ff, #061821ff, #214544ff, #557b7bff, #0ca871ff, #affb59ff, #7cfaffff, #ffb300ff, #ff3300ff);
    --gradient-bottom-right: linear-gradient(135deg, #000c00ff, #061821ff, #214544ff, #557b7bff, #0ca871ff, #affb59ff, #7cfaffff, #ffb300ff, #ff3300ff);
    --gradient-top-left: linear-gradient(225deg, #000c00ff, #061821ff, #214544ff, #557b7bff, #0ca871ff, #affb59ff, #7cfaffff, #ffb300ff, #ff3300ff);
    --gradient-bottom-left: linear-gradient(315deg, #000c00ff, #061821ff, #214544ff, #557b7bff, #0ca871ff, #affb59ff, #7cfaffff, #ffb300ff, #ff3300ff);
    --gradient-radial: radial-gradient(#000c00ff, #061821ff, #214544ff, #557b7bff, #0ca871ff, #affb59ff, #7cfaffff, #ffb300ff, #ff3300ff);
}

@font-face {
  font-family: K2DRegular;
  src: url(../ttf/K2D-Regular.ttf);
}

@font-face {
  font-family: K2DExtraBold;
  src: url(../ttf/K2D-ExtraBold.ttf);
}

.cray_no_connect {
  border-style: dashed;
  border-color: var(--cray-no-connection-color);
  border-width: 2px;
}
